#animation{
	width: 100px;
	height: 100px;
	animation-name: kayden;
	animation-duration: 5s;
	position: relative;

}

@keyframes kayden{
	0%{
	 background-color:purple;
	 left: 0px;
	 top: 0px;

}
25%{
	 background-color:red;
	 left: 200px;
	 top: 0px;
}
50%{
	 background-color:yellow;
	 left: 200px;
	 top: 200px;
}




75%{
	 background-color:pink;
	 left: 0px;
	 top: 200px;


}



100%{
	background-color: red;
	left: 0px;
	top: 0px;
}
}


